@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared styles */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.section-width {
    width: 74%;
    max-width: 1440px;
}

.dark-02 {
    color: #424242;
}

.dark-03 {
    color: #727272;
}

.btn {
    background-color: #FF900E;
    color: white;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #FF900E;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header styles */
header {
    height: 1220px;
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px;
}

.navbar .nav-links {
    padding-top: 10px;
    list-style: none;
    gap: 50px;
}

.navbar .nav-links a {
    font-size: 18px;
    text-decoration: none;
}

.content-section {
    margin: 0 auto;
    text-align: center;
    padding: 50px 70px 40px 70px;
}

.content-section p {
    font-size: 16px;
    padding: 20px;
}

.content-section h1 {
    font-size: 64px;
}


.banner {
    width: 74%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-img-div {
    margin: 0 auto;
    width: 1440px;
    height: 700px;
}

.banner-img {
    width: 100%;
    height: 100%;
}

/* main section style */
.teams {
    margin: 0 auto;
    padding-top: 70px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.our-features h1 {
    font-size: 45px;
}

#features_style {
    color: #FF900E;
}

.our-features p {
    padding: 20px 0px;
    font-size: 16px;
}

.features-btn {
    max-width: 180px;
}
/* Responsive media query */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .content-section h1 {
        font-size: 30px;
    }

    .teams {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
}


/* Feature will enjoy style */
.features-will-enjoy-section{
    display: flex;
    margin: 0 auto;

}
.features-will-enjoy-section{
    padding-top: 90px;

}

.feature-card{
    max-width: 580px;
    margin: 10px 0px;
    padding: 25px;
    border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.feature-card h3{
     font-size: 20px;
     padding-bottom: 5px;
}
.feature-card p{
     font-size: 16px;
}
.feature-heading{
    margin-top:60px;
}

.feature-heading h1{
   border-left: 5px solid #FF900E;
   padding-left: 20px;
   border-radius: 5px;
   font-size: 45px;
}

.feature-heading p{
    font-size: 16px;
    margin: 20px 30px 20px 0px;
}

.feature-section-img{
    max-width: 710px;
    max-height: 980px;
}

.feature-img-and-btn{
    margin-top: 30px;
}
.experience-btn{
     margin-left: -150px;
     margin-top: -150px; 
}
.experience-btn #bold-text{
    font-size: 65px;
    font-weight: bold;
}
.experience-btn p{
    font-size: 25px;
    font-weight: normal;
}
/* ------------------------------------- */

.our-facts-section{
    margin: 0 auto;
}

.fact-card{
    border:1px solid #FF900E;
    width: 280px;
    height: 280px;
    padding: 65px 30px 30px 30px;
    text-align: center;
}

.fact-card-header h3{
    font-size: 45px;
    margin-top: 80px;
    margin-bottom:10px;
}
.fact-card-container{
   display: flex;
   margin: 70px ;
   justify-content: space-around;
}

/* ---------------------------------- */
.sponspors-section{
    margin: 120px auto 0px auto;
}
.sponspors-section .content{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
.sponspors-section .content h1{
    font-size: 45px;
    margin-bottom:10px;
}
.sponspors-section .content p{
    font-size: 16px;
}
.sponspors-section .sponspors-logo{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
} 

/* --------------------------------- */

footer{
    background-color: #FFF4E7;
    margin: 100px auto;
    padding: 30px;
    border: 0px;
    border-radius: 8px;
    text-align: center;
}
footer p{
    font-size: 20px;
}